:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

* {
margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* ----- Navigation bar -----*/
#navbar {
    width: 100%;
    height: 50px;
    background: var(--main-red);
    padding: 0 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    display: block;
    color: var(--main-white);
    font-weight: bold;
    padding: 5px 15px;
    margin: 0 5px; 
    transition: all 0.5s;
    border-radius: 10px;
}

a:hover {
    background: var(--main-blue);
}

/* ----- Welcome Section ----- */

#welcome-section {
    height: 100vh;
    background: var(--main-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #welcome-section h1,
#welcome-section p {
    clip-path: inset(0 100% 0 0);
    animation: text-reveal 1s ease-in-out forwards;
} */

#welcome-section h1 {
    font-family: 'Permanent Marker', cursive;
    color: var(--main-white);
    font-size: 3rem;
    margin-bottom: 5px;
    /* animation-delay: 1s; */
}

#welcome-section p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #999;
    /* animation-delay: 2s; */
    margin-bottom: 20px;
}

#welcome-section .know-more {
    display: inline-block;
    font-size: 14px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3),
                -5px -5px 5px rgba(255, 255, 255, 0.05);
    margin-top: 5px;
    /* opacity: 0;
    animation: opac 1s ease-in-out forwards 2.5s; */
}

#welcome-section .know-more:hover {
    background: var(--main-gray);
}
/* Animation for text reveal */

/* @keyframes text-reveal {
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes opac {
    to {
        opacity: 1;
    }
} */


/* ------ Projects section ------ */

.projects-section {
    background: var(--main-blue);
    padding: 65px 25px;
    color: var(--main-white);
    text-align: center;
}

.projects-section h2 {
    display: inline-block;
    font-size: 35px;
    padding: 2px 13px;
    border-bottom: 2px solid var(--main-white);
}

.project-grid {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.project-tile {
    flex-grow: 1;
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.3),
                -8px -8px 8px rgba(255, 255, 255, 0.05);
    
    display: flex;
    flex-direction: column;
}

.project-tile .title,
.project-tile .description,
.project-tile .link {
    width: 100%;
    display: flex;
    align-items: center;
}

.project-tile .title {
    height: 20%;
    text-align: left;
}

.project-tile .description {
    height: 60%;
    font-size: 14px;
    color: #aaa;
    text-align: left;
}

.project-tile .link {
    height: 20%;
    justify-content: flex-end;
}

.project-tile .link a {
    padding: 5px 10px;
    background: #333;
    transition: all 0.5s;
}

.project-tile .link a:hover {
    background: var(--main-white);
    color: var(--main-gray);
}

#profile-link {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    background: #333; 
}

#profile-link:hover {
    background: var(--main-white);
    color: var(--main-gray);
}

#profile-link i {
    margin-left: 5px;
}

/* ----- Footer ----- */

footer {
    background: var(--main-gray);
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
}
.icons a {
    display: inline-block;
    padding: 6px 8px;
    margin: 5px;
}

.icons a:hover {
    background: #2a748d;
}

.copyright h4 {
    font-size: 12px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--main-white);
    font-weight: bold;
}


/* -- Responsiveness for navbar and welcome-section -- */
@media(max-width: 500px) {
    #navbar {
        justify-content: center;
    }
    
    #welcome-section h1 {
        font-size: 2rem;
    }
    
    #welcome-section p {
        font-size: 20px;
    }
    
    .projects-section {
        padding: 65px 15px;
    }
    
    .projects-section h2 {
        font-size: 30px;
    }
}

@media(max-width: 320px) {

    #welcome-section h1 {
        font-size: 1.5rem;
    }
    
    #welcome-section p {
        font-size: 18px;
    }
    
    .projects-section {
        padding: 65px 10px;
    }
    
    .projects-section h2 {
        font-size: 24px;
    }
    
    .project-grid {
        padding: 10px;
    }
}